<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <record id="res_config_settings_view_form" model="ir.ui.view">
      <field name="name">res.config.settings.view.form.inherit.api_route</field>
      <field name="model">res.config.settings</field>
      <field name="priority" eval="65"/>
      <field name="inherit_id" ref="base.res_config_settings_view_form"/>
      <field name="arch" type="xml">
        <xpath expr="//form" position="inside">
          <app data-string="api_route" string="Api route" name="api_route">
            <block title="Setting" id="api_route_setting">
              <setting id="api_name" string="Api config" help="Set a name for the api/documentation">
                <label string="Service name" for="service_name_field" class="col-lg-3 o_light_label"/>
                <field name="service" id="service_name_field"/>
                <button type="object" class="btn btn-primary mt-5" name="go_documentation" string="Voir la documentation"/>
              </setting>
            </block>
          </app>
        </xpath>
      </field>
    </record>

    <record id="action_api_route_settings" model="ir.actions.act_window">
      <field name="name">Settings</field>
      <field name="type">ir.actions.act_window</field>
      <field name="res_model">res.config.settings</field>
      <field name="view_mode">form</field>
      <field name="target">inline</field>
      <field name="context">{'module' : 'api_route', 'bin_size': False}</field>
    </record>
  </data>

</odoo>